@import '~scss_vars';

.printable {
  color: white;
  .print-button {
    background-color: white;
    color: black;
  }
  .printable-area {
    background-color: green;
  }
}

@media print{
 .no-print {
   display: none;
 }
 .printable-area div {
   display: block;
 }
 .printable-area {
   color: #000000;
 }
 .grey-area {
   color: #777777;
 }
 .black-area {
   text-align: center;
   display: #000000;
 }
 .large {
   font-size: 20pt;
 }
 .small {
   font-size: 10pt;
 }
}
