@import '~scss_vars';

.reset-password-page {
  .container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
  }
  .jumbotron {
    width: 500px;
  }
  @media (max-width: 768px) {
    .container {
      padding: 80px 15px 0;
    }
    .page-container {
      min-height: auto;
    }
    .jumbotron {
      padding: 30px 30px 0;
      margin-bottom: 0;
    }
  }
}
