@import '~scss_vars';

#intercom-container {
  display: none;
}

.profile-page {
  .form-div {
    padding: 40px;
  }

  @media (max-width: 1200px) {
    .fileinput {
      display: inline-block;
      .btn-default {
        padding: 10px 15px;
      }
    }
  }
}
