@import '~scss_vars';

.trip-type {
  text-align: left;
  .ant-tabs-ink-bar {
    background-color: $brand-color;
  }
  .ant-tabs-tab {
    font-weight: 400;
    font-size: 16px;
    color: $text-blue-dark;
    letter-spacing: 0;
    &:hover {
      color: $brand-color;
    }
  }
  .ant-tabs-tab-active {
    color: $text-blue-dark;
    font-weight: normal;
  }

  @media (max-width: 768px) {
    .ant-tabs-tab {
      margin-right: 10px;
      padding: 12px 8px;
      font-size: 14px;
    }
  }
}
