@import '~scss_vars';
.car-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    // margin-bottom: -20px;
  }
  .mask-watermark {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: $white;
  }
}

.default-car-image {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .car-img {
    .mask-watermark {
      display: none;
    }
  }
}
