@import '~scss_vars';

.trip-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  .trip-list-null {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $border-gray;
    margin: 0 10px;
    height: 100px;
    text-align: center;
  }
  dl, dd, p {
    margin: 0;
  }

  @media (max-width: 1200px) {

  }

  @media (max-width:768px) {
  }

  @media (max-width:430px) {

  }
}
