@import '~scss_vars';

input {
  min-height: 0px;
}
.ant-calendar-range-picker-separator {
  font-size: 25px;
  line-height: 5px;
}

.ant-form-item:nth-child(3) .ant-form-item-control-wrapper {
  padding-left: 0px !important;
}
.ant-form-item-control:focus,
.ant-form-item-control-wrapper:focus {
  outline: 0;
}
.ant-select-selection:active, .ant-select-selection:focus {
  box-shadow: none;
}
.ant-select-dropdown-menu-item {
  font-weight: 300;
}
.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-selected:hover {
  font-weight: 400;
}
.ant-calendar-selected-day .ant-calendar-date {
  background-color: $brand-color;
}

.ant-calendar-footer-extra {
  padding: 5px;
  color: $brand-color;
}

.ant-calendar-selected-day .ant-calendar-date {
  background-color: $brand-color;
}

.ant-calendar-selected-day .ant-calendar-date {
  border-color: $brand-color;
}

.ant-calendar-today .ant-calendar-date {
  border-color: $brand-color;
  color: $brand-color;
}
.ant-calendar-cell.ant-calendar-today.ant-calendar-disabled-cell-last-of-row.ant-calendar-disabled-cell{
  .ant-calendar-date {
    border: none;
    &:before {
      border: none;
    }
  }
}
.ant-calendar-selected-day .ant-calendar-date {
  background-color: $brand-color;
  color: $white;
}
.ant-calendar-selected-day .ant-calendar-date:hover {
  background-color: $brand-color;
  color: $white;
}

.ant-calendar-range .ant-calendar-in-range-cell:before {
  background-color: $background-green5;
}

.trip-bar .has-error .ant-calendar-picker-input {
  border: 1px solid $brand-color;
}

.has-error .ant-input:not([disabled]):hover {
  border: 1px solid $background-green5;
}

.has-error .ant-calendar-picker-icon:after, .has-error .ant-time-picker-icon:after, .has-error .ant-picker-icon:after, .has-error .ant-select-arrow, .has-error .ant-cascader-picker-arrow {
    color: $brand-color;
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: $brand-color;
}

.has-error .ant-input:focus,
.has-error .ant-input:focus,
.ant-input:focus,
.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
  box-shadow: $background-green5;
  -webkit-box-shadow: $background-green5;
}

.trip-bar-month {
  min-width: 300px;
  .ant-btn {
    border-color: transparent;
  }

  .ant-calendar-picker {
    margin-left: 5px;
  }
  .has-error .ant-input, .has-error .ant-input:hover {
    border: 1px solid $brand-color;
  }
  .ant-calendar-picker-input {
    border: 0 solid $black;
    padding-left: 20px;
  }

  .ant-form-item-required:before {
    display: none;
  }

  .ant-form-inline .ant-form-item-with-help {
    margin-bottom: 0;
  }

  .ant-form-item {
    margin: 0;
  }

  .p {
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 15px;
    color: $text-black3;
    text-align: left;
    width: 300px;
  }
  .ant-form-item-label {
    font-size: 16px;
    height: 30px;
  }

  .submit-button {
    color: $white;
    background-color: $brand-color;
  }
  .ant-calendar-range-picker-input {
    color: $text-gray;
  }
  .ant-form-inline .ant-form-item > div {
    display: block;
    text-align: left;
  }

  .landing-bar {
    .ant-input {
      font-size:18px;
      // TODO: maybe antd use !important when use font-family
      font-family: 'Helvetica Neue';
      padding: 4px 5px;
      width: 100%;
      border-radius: 0;
    }
    .ant-btn {
      border-color: transparent;
    }
    .ant-form {
      background-color: $white;
      margin: auto;
    }
    // calendar-picker


    .ant-select-selection {
      border: none;
    }

    .start {
      text-align: left;
      padding: 10px 0px;
      height: 86px;
    }
    .end {
      padding: 10px 0px;
      text-align: left;
      height: 86px;
    }

    .submit-button-item {
      padding: 10px 0px;
    }
    .ant-calendar-picker-clear,
    .ant-calendar-picker-icon,
    .ant-calendar-picker-icon:after {
      right: 3;
    }

    .font-style {
      font-size: 18px;
      font-weight: 300;
    }

    @media (min-width: 1200px) {
      .start {
        width: 23%;
      }
      .end {
        width: 23%;
      }
      .ant-form {
        max-width: 1030px;
        padding: 0px 10px;
        border-radius: 60px;
        .ant-form-item-children {
          width: 100%;
        }
        .ant-calendar-picker {
          width: 90%;
        }
      }
      .submit-button {
        width: 62px;
        height: 62px;
        border-radius: 31px !important;
        margin: 2px 0px 0px 0px;
        font-size: 19px;
        left: 8px;
      }
      .ant-calendar-range-picker-input {
        font-size: 19px;
      }
      .ant-calendar-picker-clear,
      .ant-calendar-picker-icon,
      .ant-calendar-picker-icon:after {
        line-height: 15px;
        font-size: 18px;
      }
      .ant-select-selection-selected-value {
        font-weight: 300;
        font-family: 'Helvetica Neue';
      }
      .ant-form-inline .ant-form-item > div {
        padding-left: 0px;
      }
      .vertical-line {
        border-left: 1px solid $border-white-green;
        padding-left: 20px;
      }
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      .start {
        width: 22%;
        height: 86px;
      }
      .end {
        width: 22%;
      }
      .ant-form {
        max-width: 750px;
        padding: 0px 10px;
        border-radius: 60px;
      }
      .submit-button {
        width: 62px;
        height: 62px;
        border-radius: 31px !important;
        font-size: 19px;
        margin: 2px 0px 0px 0px;
        left: 8px;
      }
      .ant-calendar-range-picker-input {
        font-size: 17px;
      }
      .ant-calendar-picker-clear,
      .ant-calendar-picker-icon,
      .ant-calendar-picker-icon:after {
        line-height: 13px;
        font-size: 16px;
      }
      .ant-select-selection-selected-value {
        font-weight: 300;
        font-family: 'Helvetica Neue';
      }
      .ant-form-inline .ant-form-item > div {
        padding-left: 0px;
      }
      .vertical-line {
        border-left: 1px solid $border-white-green;
        padding: 10px 5px 10px 10px;
      }
    }

    @media (max-width: 767px){
      .start {
        width: 100%;
      }
      .end {
        width: 300px;
      }
      .ant-form {
        max-width: 300px;
        padding: 10px;
      }
      .submit-button {
        border-radius: 0;
        width: 250px;
        margin-top: 10px;
        font-size: 18px;
      }
      .ant-calendar-range-picker-input {
        font-size: 19px;
      }
      .ant-calendar-picker-clear,
      .ant-calendar-picker-icon,
      .ant-calendar-picker-icon:after {
        line-height: 15px;
        font-size: 18px;
      }
      .ant-select-selection-selected-value {
        font-weight: 300;
        font-family: 'Helvetica Neue';
      }
      .vertical-line {
        border-left: 0px solid $border-white-green;
      }
    }
  }

  .inventory-bar {
    .ant-input {
      font-size:18px;
      font-family: 'Helvetica Neue';
      height: 40px;
      border-radius: 0;
    }
    .ant-calendar-picker {
      margin-left: 5px;
      width: 100%;
    }
    .ant-form {
      width: 100%;
      background-color: $background-white5;
      display: inline-flex;
      align-items: flex-end;
      padding: 10px 15px;
      justify-content: space-between;
    }
    // calendar-picker

    .ant-calendar-range-picker-separator {
      line-height: 15px;
    }

    .ant-select {
      width: 100%;
    }
    .ant-select-selection {
      border-radius: 0;
      border: 0px;
    }
    .ant-select-selection__rendered {
      line-height: 40px;
    }
    .ant-select-selection--single {
      height: 40px;
    }

    .form-item {
      text-align: left;
      height: 86px;
      padding: 10px 0px;
    }

    .start {
      height: 70px;
      width: 20%;
    }
    .end {
      height: 70px;
      width: 23%;
    }

    .submit-button {
      height: 40px;
    }
    .ant-calendar-range-picker-input {
      height: 35px;
    }
    .submit-button-item {
      padding-bottom: 0px;
    }
    .ant-calendar-picker-clear,
    .ant-calendar-picker-icon,
    .ant-calendar-picker-icon:after {
      right: 10px;
    }

    .font-style {
      font-size: 18px;
      font-family: 'Helvetica Neue';
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      .container{
        width: 970px;
      }
      .ant-calendar-picker {
        width: 95%;
      }
      .start {
        height: 70px;
        width: 21%;
      }
      .end {
        height: 70px;
        width: 21%;
      }
      .ant-form {
        // max-width: 750px;
        padding: 10px;
        // border-radius: 60px;
      }
      .submit-button {
        width: 100px;
        // height: 62px;
        // border-radius: 31px;
        font-size: 14px;
        margin: 5px 5px 0;
        padding: 5px;
        left: 8px;
      }
      .ant-calendar-range-picker-input {
        font-size: 17px;
      }
      .ant-calendar-picker-clear,
      .ant-calendar-picker-icon,
      .ant-calendar-picker-icon:after {
        line-height: 13px;
        font-size: 16px;
      }
      .ant-select-selection-selected-value {
        font-weight: 300;
        font-family: 'Helvetica Neue';
      }
      .ant-form-inline .ant-form-item > div {
        padding-left: 0px;
      }
      .vertical-line {
        border-left: 0px solid $border-white-green;
        padding-left: 10px;
      }
    }

    @media (max-width: 767px){
      .start {
        width: 50%;
        padding: 2px;
      }
      .end {
        width: 50%;
        padding: 2px 7px 2px 0;
      }
      .ant-form {
        display: block;
        max-width: 100%;
        min-width: 300px;
        padding: 10px;
        margin: auto;
      }
      .submit-button-item {
        width: 100%;
      }
      .submit-button {
        border-radius: 0;
        width: 100%;
        margin-top: 10px;
        font-size: 18px;
      }
      .ant-calendar-range-picker-input {
        font-size: 19px;
      }
      .ant-calendar-picker-clear,
      .ant-calendar-picker-icon,
      .ant-calendar-picker-icon:after {
        line-height: 15px;
        font-size: 18px;
      }
      .ant-select-selection-selected-value {
        font-weight: 300;
        font-family: 'Helvetica Neue';
      }
      .vertical-line {
        border-left: 0px solid $border-white-green;
      }
    }

  }
  .mobile-bar {
    .ant-input {
      border: 1px solid $border-white-blue;
      line-height: 0px;
      font-size: 15px;
      font-family: 'Helvetica Neue';
      height: 35px;
      border-radius: 0;
    }
    .ant-form-item-control{
    line-height: 0px;
    position: relative;
    zoom: 1
    }
    .ant-calendar-picker {
      margin-left: 5px;
      width: 100%;
    }
    .ant-input {
      line-height: 35px;
    }
    .ant-form {
      width: 100%;
      background-color: $white;
      display: inline-flex;
      align-items: flex-end;
      padding: 10px 15px;
      justify-content: space-between;
      opacity: 0.97;
    }
    // calendar-picker

    .ant-calendar-range-picker-separator {
      line-height: 15px;
    }

    .ant-select {
      width: 100%;
    }
    .ant-select-selection {
      border-radius: 0;
      border: 0px;
    }
    .ant-select-selection__rendered {
      line-height: 35px;
    }
    .ant-select-selection--single {
      border: 1px solid $border-white-blue;
      height: 35px;
    }

    .form-item {
      text-align: left;
      height: 86px;
      padding: 10px 0px;
    }

    .start {
      height: 70px;
      width: 20%;
    }
    .end {
      height: 70px;
      width: 23%;
    }

    .submit-button {
      height: 40px;
    }
    .ant-calendar-range-picker-input {
      height: 35px;
    }
    .submit-button-item {
      padding-bottom: 0px;
    }
    .ant-calendar-picker-clear,
    .ant-calendar-picker-icon,
    .ant-calendar-picker-icon:after {
      right: 10px;
    }

    .font-style {
      font-size: 15px;
      font-family: 'Helvetica Neue';
    }

    @media (max-width: 767px){
      .start {
        width: 50%;
        padding: 2px;
      }
      .end {
        width: 50%;
        padding: 2px 7px 2px 0;
      }
      .ant-form {
        display: block;
        max-width: 360px;
        min-width: 300px;
        padding: 10px;
        margin: auto;
      }
      .submit-button-item {
        width: 100%;
      }
      .submit-button {
        border-radius: 0;
        width: 100%;
        margin-top: 10px;
        font-size: 18px;
      }
      .ant-calendar-range-picker-input {
        font-size: 19px;
      }
      .ant-calendar-picker-clear,
      .ant-calendar-picker-icon,
      .ant-calendar-picker-icon:after {
        line-height: 15px;
        font-size: 18px;
      }
      .ant-select-selection-selected-value {
        font-weight: 300;
        font-family: 'Helvetica Neue';
      }
      .vertical-line {
        border-left: 0px solid $border-white-green;
      }
    }

    @media (min-width: 767px) and (max-width: 1200px) {
      .container{
        width: 970px;
      }
      .ant-calendar-picker {
        width: 95%;
      }
      .start {
        height: 70px;
        width: 21%;
      }
      .end {
        height: 70px;
        width: 21%;
      }
      .ant-form {
        // max-width: 750px;
        padding: 10px 25px;
        border-radius: 60px;
      }
      .submit-button {
        width: 100px;
        // height: 62px;
        // border-radius: 31px;
        font-size: 14px;
        margin: 5px 5px 0;
        padding: 5px;
        left: 8px;
        width: 62px;
        height: 62px;
        border-radius: 31px !important;
      }
      .ant-calendar-range-picker-input {
        font-size: 17px;
      }
      .ant-calendar-picker-clear,
      .ant-calendar-picker-icon,
      .ant-calendar-picker-icon:after {
        line-height: 13px;
        font-size: 16px;
      }
      .ant-select-selection-selected-value {
        font-weight: 300;
        font-family: 'Helvetica Neue';
      }
      .ant-form-inline .ant-form-item > div {
        padding-left: 0px;
      }
      .vertical-line {
        border-left: 0px solid $border-white-green;
        padding-left: 10px;
      }
    }

  }
}
