@import '~scss_vars';

.path-bar-component {
  height: 55px;
  .container {
    margin: 0;
    line-height: 40px;
    text-align: left;
  }
  .page-container {
    padding: 0 0 0 15px;
    min-height: 55px;
  }
  .arrow-color {
    font-size: 13px;
  }
  .link-text-color {
    color: $text-blue-dark;
    .arrow {
      font-size: 12px;
    }
  }
  .current-text-color {
    font-size: 12px;
    line-height: 15px;
    color: $text-gray4;
  }
}

@media (max-width: 768px) {
  .path-bar-component {
    display: none;
  }
}
